@model IEnumerable<RehabModel>
@{
    ViewData["Title"] = "Trainer";
}
<body>
    <h1>
        Trainer: Rehab Options
    </h1>
    <h2>
    <div>
            <a asp-area="" asp-controller="Trainer" asp-action="PostRehab">Add Rehab Option</a>
    </div>
    </h2>
<ul class="list-group">
    @foreach (var Rehab in Model)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-10">
                    <p>
                        <a href="@Url.Action("View", "Trainer", new { @id = Rehab.ID })">@Rehab.Name</a>
                    </p>
                </div>
                <div class="col-md-2">
                    <form class ="form-inline" asp-action="Delete" asp-controller="Trainer" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@Rehab.ID" />
                        <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i></button>
                    </form>
                </div>
            </div>
        </li>

    }
</ul>
</body>