@model  WorkOutModel
<body>
    <h1>
        @Html.DisplayFor(m => m.Name)
    </h1>
    <h2>
        @Html.DisplayFor(m => m.Rating)
        / 10 Effort
    </h2>
    <p>
        @Html.DisplayFor(m=>m.Description)
    </p>
</body>