@model  HealthModel
<body>
    <h1>
        @Html.DisplayFor(m => m.AName)
    </h1>
    <p>Posted by: @Html.DisplayFor(m => m.PostedBy)</p>
    <h2>
        @Html.DisplayFor(m => m.Rating)
        / 5 stars
    </h2>
    <p>
        @Html.DisplayFor(m=>m.Description)
    </p>
</body>